* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #30F2F2;
}

header {
    margin: 5px;
    padding: 5px;
}

#box {
    background: #FFC857;
    width: 600px;
    /*border: 2px solid #323031;*/
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 50px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    margin: 10px;
}

#addbutton {
    background: #323031;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#addbutton:hover {
    background: #91F291 ;
    color: white;
    cursor: pointer;
}

#addlist {
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.alert {
    display: none;
    background: #F2542D;
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
}

.checked {
    text-decoration: line-through;
    opacity: 40%;
}

#result {
    display: flex;
    flex-direction: column;
    margin: 10px auto 20px;
}

#result div {
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#result div:hover {
    background: #91F291;
    color: white;
}

#result div input {
    margin-right: 10px;
}

#result div button {
    margin-left: 10px;
}

.erasebutton {
    background: #323031;
    color: #E76F51;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.erasebutton:hover {
    background: #E76F51;
    color: #323031;
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: #2A9D8F;
    font-weight: bold;
}

footer a:hover {
    color: #E76F51;
}